body {
    background-color: black;
}
h1 {
    background-color: blue;
}
p {
    background-color: rgb(72, 241, 89);
}
h2 {
    background-color: blueviolet;
}
h2 + p {
    background-color: aquamarine;
}
ol {
    background-color: blueviolet;
}
li {color: rgb(240, 18, 18);}
li + li {
    color: beige;
}
li + li + li {
    color: rgb(94, 94, 201);
}
li + li + li + li {
    color: navy;
}
li + li + li + li + li {
    color: lawngreen;
}